@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #091F44;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.container h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: 10px;

}

.container input {
    background-color: #091F44;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    font-size: 1.5rem;
    padding: 1vw;
    color: white;
    margin-inline: 5vw;
}

.container .searchButton {
    margin-top: 2vw;
    margin-inline: 5vw;
    font-family: inherit;
    background-color: #FB1E42;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    border: 0;
    border-radius: 5px;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.city {
    background-color: white;
    max-width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 0px #5F6B81;
    margin-bottom: 20px;
    position: relative;
}

.city .city-name {
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.city .city-name .country {
    font-size: 0.7rem;
    background-color: #FC8C01;
    padding: 5px;
    border-radius: 5px;
}

.city .temp {
    font-size: 2.5rem;
    font-weight: bold;
}

.city img {
    width: 60%;
}

.city .describe {
    font-size: 1.5rem;
    color: #333;
}

.city .xButton {
    max-width: 30px;
    max-height: 35px;
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: #FB1E42;
    border: 1px solid #091F44;

}

.city .xButton img {
    padding-top: 3px;
}


@media screen and (min-width: 768px) {
    .cities {
        flex-direction: row;
        justify-content: center;
        margin-inline: auto;

    }

    .city {
        max-width: 300px;

    }
}

.alert {
    position: fixed;
    width: 50%;
    min-height: 15%;
    background-color: #FB1E42;
    top: 35%;
    left: 25%;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 2rem;
    border-radius: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.alert button {

    background-color: #091F44;
    color: white;
    font-size: 1rem;
    border: 0;
    padding: 10px;
    border-radius: 5px;

}

.overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
